/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
ul, ol {
  list-style: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;

  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  margin-top: 24px;
}
.photo-card {
  width: 360px;
  border: 1px solid #808080;
}
.photo-card img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;

  font-weight: 400;
  font-size: 16px;

  line-height: 1.5;
}
input {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;

  border-radius: 4px;
  width: 272px;
  height: 40px;

  color: #808080;
  background-color: #fff;
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;

  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;

  background-color: #4e75ff;
  border: none;

  font-weight: 500;
  color: #fff;
}
.info {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.info-item {
  text-align: center;
}
.hidden {
  display: none;
}